// Adition-product

.addition-product {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "params"
    "button";
  height: 100%;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr max-content;
    grid-template-areas:
      "title params"
      "button button";
    row-gap: 26px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr max-content 244px;
    grid-template-areas: "title params button";
    align-items: center;
    column-gap: 40px;
  }
}

.addition-product__title {
  grid-area: title;
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
  color: var(--contrast-dark-text-color-3);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
  }
}

.addition-product__wrapper {
  grid-area: params;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 287px;
    margin-top: 10px;
  }
}

.addition-product__volume {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.addition-product__cost {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 45px;
    margin-left: 0;
    text-align: center;
  }
}

.addition-product__button {
  grid-area: button;
}
