/* stylelint-disable block-no-empty */
// Addition-products

.addition-products {
  padding-bottom: 35px;
}

.addition-products--title {
  margin-bottom: 36px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 1;
}

.addition-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.addition-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
}

.addition-product__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
  color: var(--contrast-dark-text-color-3);
  text-transform: uppercase;
}

.addition-product__wrapper {
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.addition-product__volume {

}

.addition-product__cost {

}

.addition-products__banner {
  margin: 0;
  margin-top: 39px;
  padding: 186px 55px 43px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--contrast-light-text-color);
  text-align: center;
  background-color: var(--accent-color);
}
