// Addition-products

.addition-products {
  padding-top: 14px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 86px;
  }
}

.addition-products__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.addition-products__title {
  width: 100%;
  margin-bottom: 18px;
  border-top: 2px solid var(--accent-color);

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.addition-products--title-content {
  position: relative;
  top: -17px;
  width: fit-content;
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: var(--contrast-dark-text-color);
  background-color: var(--light-background-color);

  @media (min-width: $tablet-width) {
    top: -24px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.addition-products__list {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
    border: 1px solid var(--line-color-3);
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    margin-right: 79px;
    margin-bottom: 0;
    border: none;
  }
}

.addition-products__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--line-color-3);

  @media (min-width: $tablet-width) {
    padding: 26px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0;
  }

  &:first-of-type {
    border-top: 1px solid var(--line-color-3);

    @media (min-width: $tablet-width) {
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      border-top: 1px solid var(--line-color-3);
    }
  }

  &:last-of-type {
    @media (min-width: $tablet-width) {
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      border-bottom: 1px solid var(--line-color-3);
    }
  }
}

.addition-products__banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 186px 40px 40px;
  background-color: var(--accent-color);
  background-image: url("../img/backgrounds/catalog-banner-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/catalog-banner-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    align-items: flex-end;
    padding: 72px 115px 40px;
    background-image: url("../img/backgrounds/catalog-banner-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/catalog-banner-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    width: 245px;
    min-height: 289px;
    align-items: center;
    margin-top: 0;
    padding: 187px 30px 30px;
    background-image: url("../img/backgrounds/catalog-banner-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/catalog-banner-desktop@2x.png");
    }
  }

  &::before {
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../img/backgrounds/gift.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      left: 79px;
      transform: none;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.addition-products__banner-text {
  max-width: 170px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--contrast-light-text-color);
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
