// Button

.button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: var(--contrast-light-text-color);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--accent-color);
}
