// Button

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 4px 10px;
  font-size: 16px;
  line-height: 20px;
  color: var(--contrast-light-text-color);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover,
  &:active {
    background-color: var(--accent-color-hover);
  }

  &:active span {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--light-background-color), 0 0 0 4px var(--accent-color);
  }

  &--secondary {
    color: var(--primary-text-color);
    background-color: var(--dark-background-color);

    &:hover,
    &:active {
      background-color: var(--dark-background-color-2);
    }
  }
}
