/* stylelint-disable block-no-empty */
// Catalog

.catalog {
  padding-top: 27px;
  padding-bottom: 25px;
}

.catalog__title {

}

.catalog__list {
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item {
  padding: 19px 20px 25px;
}
