// Contacts

.contacts {
  background-color: var(--dark-background-color);

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__address-container {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px;

  @media (min-width: $tablet-width) {
    padding: 65px 70px 57px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: calc(50% - 610px);
    z-index: 1;
    width: 570px;
    padding: 65px 76px 57px;
    min-height: 201px;
    background-color: var(--light-background-color);
  }
}

.contacts--main-page .contacts__address-container {
  background-color: var(--light-background-color);
}

.contacts__slogan {
  max-width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--contrast-dark-text-color-2);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 180px;
    font-size: 20px;
    line-height: 24px;
  }
}

.contacts__address-wrapper {
  display: flex;
  min-width: 140px;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    min-width: auto;
    max-width: 169px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__address {
  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.contacts__map {
  height: 362px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/backgrounds/location-mobile@1x.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/location-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/backgrounds/location-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/location-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/backgrounds/location-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/location-desktop@2x.png");
    }
  }
}
