/* stylelint-disable block-no-empty */
// Footer

.footer {
  background-color: var(--dark-background-color);
}

.footer__link {

}

.footer__link-text {
  font-family: "Arial", sans-serif;
}

.footer__link-img {
  width: 27px;
  height: 34px;
}

.footer__socials {
  padding-top: 20px;
  padding-bottom: 21px;
}
