// Footer

.footer {
  min-width: 0;
  background-color: var(--dark-background-color);
}

.footer__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 50px;
  }
}

.footer__link-logo {
  display: block;
  padding-top: 36px;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:hover .footer__logo {
    fill: var(--footer-logo-hover);
  }

  &:active .footer__logo {
    fill: var(--footer-logo-active);
  }
}

.footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  fill: var(--footer-logo);
}

.footer__socials {
  padding-top: 10px;
  padding-bottom: 8px;
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
  }
}

.footer__academy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__academy-text {
  margin-right: 24px;
  font-family: "Arial", sans-serif;
}

.footer__academy-logo {
  width: 27px;
  height: 34px;
  transition: 0.2s;
  fill: var(--icons-color);
}

.footer__academy-link:hover .footer__academy-logo {
  fill: var(--accent-color);
}
