/* stylelint-disable block-no-empty */
// Form

.form {

}

.form__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--bordered {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;

    @media (min-width: $tablet-width) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.form__fieldset-container {
  display: grid;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  &--row {
    @media (min-width: $tablet-width) {
      grid-auto-flow: column;
      gap: 78px;
    }
  }

  &--addition {
    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.form__field-wrapper {
  display: flex;
}

.form__label {
  line-height: 18px;
  text-transform: uppercase;
}

.form__fieldset--bordered .form__label {
  color: var(--contrast-dark-text-color-3);
}

.form__fieldset--addition .form__label {
  color: var(--contrast-dark-text-color);
}

.form__input {
  flex-grow: 1;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--primary-text-color);

  &::placeholder {
    color: var(--primary-text-color);
    opacity: 1;
  }
}

.form__radio {

}

.form__legend {
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
  color: var(--contrast-dark-text-color);
}

.form__field-container {
  position: relative;
}

.form__field-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(50%);
}

.form__textarea {
  width: 100%;
  height: 150px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--primary-text-color);

  &::placeholder {
    color: var(--primary-text-color);
    opacity: 1;
  }
}

.form__checkbox {

}

.form__button-container {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__submit {

}

.form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--contrast-dark-text-color);
  text-align: center;
}

.form__note-small {
  font-size: 14px;
  line-height: 16px;
}
