/* stylelint-disable block-no-empty */
// Form-section

.form-section {

}

.form-section__description {
  font-size: 14px;
  line-height: 18px;
  color: var(--contrast-dark-text-color);
  text-transform: uppercase;
}

.form-section__form {

}
