// Goal

.goal {
  position: relative;
  padding: 31px 20px 22px;
  background-color: var(--dark-background-color);

  &::before {
    position: absolute;
  }

  &--weight-gain::before {
    content: url("../img/backgrounds/goal-weight-gain.svg");
    top: 25px;
    left: 13px;
    width: 67px;
    height: 50px;
  }

  &--weight-loss::before {
    content: url("../img/backgrounds/goal-weight-loss.svg");
    top: 22px;
    left: 22px;
    width: 50px;
    height: 53px;
  }
}

.goal__title {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: var(--contrast-dark-text-color);
  text-transform: uppercase;
}

.goal__description {
  margin: 0;
  margin-bottom: 18px;
  padding-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid var(--line-color);
}

.goal__link {
  padding-right: 40px;
  color: var(--contrast-dark-text-color);
  text-transform: uppercase;
  background-image: url("../img/backgrounds/arrow.svg");
  background-position: center right;
  background-size: 24px 12px;
  background-repeat: no-repeat;
}
