// Header

.header {
  background-color: var(--light-backgound-color);

  @media (min-width: $tablet-width) {
    height: 110px;
  }

  @media (min-width: $desktop-width) {
    height: 140px;
    margin-bottom: -140px;
    background-color: transparent;
  }
}

.header__navigation {
  height: 100%;
}
