// Header

.header {
  min-width: 0;
  background-color: var(--light-background-color);

  @media (min-width: $tablet-width) {
    min-height: 76px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    min-height: 112px;
    padding-top: 20px;

    &--main-page {
      margin-bottom: -112px;
      background-image: linear-gradient(to left, var(--accent-color-background), var(--accent-color-background) 50%, var(--light-background-color) 50%, var(--light-background-color));
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.header__navigation {
  height: 100%;
}
