/* stylelint-disable block-no-empty */
// Header

.header {
  display: grid;
  grid-template-columns: min-content 1fr;
  min-height: 66px;
  background-color: var(--light-backgound-color);

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    min-height: 140px;
    background-color: transparent;
  }
}

.header__logo {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  align-self: flex-start;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.header__navigation {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-column: span 1 / -1;
    align-self: center;
    justify-self: flex-end;
  }
}
