// How-it-works

.how-it-works {
  padding-top: 27px;
  padding-bottom: 42px;
}

.how-it-works__title {
  margin-bottom: 38px;
}

.how-it-works__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.how-it-works__item {
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &::before {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  &:nth-child(1)::before {
    content: url("../img/backgrounds/how-it-works-1.svg");
  }

  &:nth-child(2)::before {
    content: url("../img/backgrounds/how-it-works-2.svg");
  }

  &:nth-child(3)::before {
    content: url("../img/backgrounds/how-it-works-3.svg");
  }

  &:nth-child(4)::before {
    content: url("../img/backgrounds/how-it-works-4.svg");
  }
}
