// Link

.link {
  color: var(--contrast-dark-text-color);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--light-background-color), 0 0 0 4px var(--accent-color);
  }
}
