// Link

.link {
  color: var(--contrast-dark-text-color);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
