// Logo

.logo {
  display: block;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__img {
  display: block;
  width: 191px;
  height: 38px;
}
