// Logo

.logo {
  display: block;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 2px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--light-background-color), 0 0 0 4px var(--accent-color);
  }
}

.logo__img {
  display: block;
  width: 191px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
