// Main-menu

.main-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--light-background-color);

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: unset;
  }
}

.main-menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 66px;
  border-bottom: 1px solid var(--line-color-2);

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    min-height: auto;
    margin-bottom: 10px;
    border-bottom: none;

    &:not(:last-of-type) {
      margin-right: 35px;
    }

    &--current::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--accent-color);

      @media (min-width: $desktop-width) {
        bottom: -13px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.main-menu__link {
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    background-color: unset;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1;
    color: var(--contrast-dark-text-color-2);
  }
}

.main-menu--main-page .main-menu__item--current::after {
  @media (min-width: $desktop-width) {
    background-color: var(--contrast-light-text-color);
  }
}

.main-menu--main-page .main-menu__link {
  @media (min-width: $desktop-width) {
    color: var(--contrast-light-text-color);

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--contrast-light-text-color);
    }
  }
}
