/* stylelint-disable block-no-empty */
// Menu-button

.menu-button {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.menu-button__icon {
  width: 24px;
}
