// More-products

.more-products {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 57px;

  @media (min-width: $tablet-width) {
    height: 100%;
    padding: 159px 36px 37px;
    border: 2px solid var(--line-color-4);
  }


  &::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: var(--line-color-5);

    @media (min-width: $tablet-width) {
      top: 50px;
      height: 60px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: var(--line-color-5);

    @media (min-width: $tablet-width) {
      top: 80px;
      width: 60px;
    }
  }
}

.more-products__description {
  margin: 0;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: var(--contrast-dark-text-color-2);

  @media (min-width: $tablet-width) {
    align-self: center;
    max-width: 140px;
    margin-bottom: 24px;
    font-size: 20px;
    text-align: center;
  }
}

.more-products__subdescription {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: var(--primary-text-color);
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-self: center;
    max-width: 180px;
    font-size: 16px;
    line-height: 18px;
  }
}

.more-products__button {
  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}
