/* stylelint-disable block-no-empty */
// Navigation

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation__menu {

}

.navigation__menu-button {
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
