// Navigation

.navigation {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 66px;
  align-items: center;
  border-bottom: 1px solid var(--menu-border-color);

  &--main-page {
    border-bottom: 1px solid transparent;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: none;
  }
}

.navigation__logo {
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.navigation__menu {
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.navigation__menu-button {
  display: none;

  @media (max-width: $mobile-width-only) {
    justify-self: self-end;
    display: block;
    width: 44px;
    height: 44px;
    margin-right: -10px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.navigation__menu-button-icon {
  stroke: var(--basic-black);
}

.navigation--no-js {
  border-bottom: none;

  .navigation__menu {
    @media (max-width: $mobile-width-only) {
      position: static;
      grid-column: span 2;
      margin-left: -20px;
      margin-right: -20px;
      transform: none;
      border-top: 1px solid var(--menu-border-color);
    }
  }
}

.navigation--no-js .navigation__menu-button {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.navigation--opened {
  border-bottom: 1px solid var(--menu-border-color);

  .navigation__menu {
    position: absolute;
    z-index: 1;
    bottom: -1px;
    left: 0;
    right: 0;
    transform: translateY(100%);
  }

  .navigation__menu-button-icon {
    width: 20px;
    height: 20px;
  }

  .navigation__menu-button-symbol--opened {
    display: block;
  }

  .navigation__menu-button-symbol--closed {
    display: none;
  }
}

.navigation--closed {
  .navigation__menu {
    display: none;
  }

  .navigation__menu-button-icon {
    width: 24px;
    height: 18px;
  }

  .navigation__menu-button-symbol--opened {
    display: none;
  }

  .navigation__menu-button-symbol--closed {
    display: block;
  }
}
