/* stylelint-disable block-no-empty */
// Navigation

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 66px;
}

.navigation__menu-button {
  align-self: flex-end;
  width: 44px;
  height: 44px;
  margin-right: -10px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__menu-button-icon {
  stroke: var(--basic-black);
}

.navigation--no-js {
  .navigation__menu {
    position: static;
    transform: none;
    display: flex;
    flex-direction: column;
  }

  .navigation__menu-button {
    display: none;
  }
}

.navigation--opened {
  .navigation__menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
  }

  .navigation__menu-button-icon {
    width: 20px;
    height: 20px;
  }

  .navigation__menu-button-symbol--opened {
    display: block;
  }

  .navigation__menu-button-symbol--closed {
    display: none;
  }
}

.navigation--closed {
  .navigation__menu {
    display: none;
  }

  .navigation__menu-button-icon {
    width: 24px;
    height: 18px;
  }

  .navigation__menu-button-symbol--opened {
    display: none;
  }

  .navigation__menu-button-symbol--closed {
    display: block;
  }
}
