/* stylelint-disable block-no-empty */
// Product

.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "image title"
    "image param"
    "button button";

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "title"
      "param"
      "button";
  }
}

.product__image {
  grid-area: image;
}

.product__title {
  grid-area: title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--contrast-dark-text-color-3);
  text-transform: uppercase;
}

.product__parameters {
  grid-area: param;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.product__param-name {

}

.product__param-value {
  margin: 0;
}

.product__button {
  grid-area: button;
}
