// Product

.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "image title"
    "image param"
    "button button";
  align-items: flex-start;
  height: 100%;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "title"
      "param"
      "button";
    align-items: center;
    padding: 0 39px 40px;
    background-color: var(--dark-background-color);
  }
}

.product__link {
  display: block;

  &--title {
    grid-area: title;
    max-width: 100px;
    margin: 0;
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      justify-self: center;
      max-width: 150px;
      margin-bottom: 21px;
    }
  }

  &--image {
    grid-area: image;

    @media (min-width: $tablet-width) {
      position: relative;
      top: -73px;
      justify-self: center;
      margin-bottom: -39px;
    }

    @media (min-width: $desktop-width) {
      top: -80px;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--accent-color);
    }
  }
}

.product__image {
  display: block;
  width: 140px;
  height: 112px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }
}

.product__title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--contrast-dark-text-color-3);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product__parameters {
  grid-area: param;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    row-gap: 8px;
    font-size: 16px;
  }
}

.product__param-name {
  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
    border-bottom: 1px solid var(--line-color-3);
  }
}

.product__param-value {
  margin: 0;
  text-align: right;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
    border-bottom: 1px solid var(--line-color-3);
  }
}

.product__button {
  grid-area: button;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
  }
}
