// Results

.results {
  padding-top: 27px;
  padding-bottom: 36px;
  background-color: var(--darker-background-color);
}

.results__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title slider"
      "description slider"
      "list slider";
  }
}

.results__title {
  grid-area: title;
  margin-bottom: 33px;
}

.results__description {
  grid-area: description;
  margin: 0;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.results__list {
  grid-area: list;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 35px 30px;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, max-content) 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, max-content);
  }
}

.results__item {
  &--bordered {
    position: relative;
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 56px;
    border: 1px solid var(--results-dorder-color);
    border-radius: 3px;
  }

  &--clean {
    grid-column: span 2;
    text-align: center;
    border: none;

    @media (min-width: $tablet-width) {
      grid-column: span 1;
    }

    @media (min-width: $desktop-width) {
      grid-column: span 2;
    }
  }
}

.results__value {
  margin: 0;
  font-size: 24px;
  color: var(--contrast-dark-text-color);
  text-align: center;
  text-transform: uppercase;
}

.results__item--bordered .results__name {
  position: absolute;
  bottom: -16px;
  max-width: 90px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: var(--darker-background-color);
}

.results__item--clean .results__name {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--contrast-dark-text-color);
  text-align: center;
  text-transform: uppercase;
}

.results__item--clean .results__value {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}

.results__slider {
  grid-area: slider;
}
