/* stylelint-disable block-no-empty */
// Results

.results {
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: var(--darker-background-color);
}

.results__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title slider"
      "description slider"
      "list slider";
  }
}

.results__title {
  grid-area: title;
  margin-bottom: 33px;
}

.results__description {
  grid-area: description;
  margin: 0;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.results__list {
  grid-area: list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, max-content) 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.results__item {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;

  &--cost {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--contrast-dark-text-color);
    text-transform: uppercase;
  }
}

.results__value {
  margin: 0;
  font-size: 24px;
  color: var(--contrast-dark-text-color);
  text-align: center;
  text-transform: uppercase;

  &--cost {
    font-size: 14px;
    line-height: 20px;
  }
}

.results__item-wrapper {
  grid-column: span 1;
  display: flex;
  flex-direction: column-reverse;

  &--clean {
    grid-column: span 2;
    flex-direction: row;
    justify-content: center;

    @media (min-width: $tablet-width) {
      grid-column: span 1;
    }

    @media (min-width: $desktop-width) {
      grid-column: span 2;
    }
  }
}

.results__slider {
  grid-area: slider;
}
