// Top-section

.top-section {
  padding-top: 27px;
  background-image:
    url("../img/backgrounds/background-top-mobile@1x.png"),
    linear-gradient(to bottom, var(--accent-color-background), var(--accent-color-background) 302px, var(--light-background-color) 302px, var(--light-background-color));
  background-position: top center, top center;
  background-repeat: no-repeat, no-repeat;
  background-size: 320px 302px, 100% 100%;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/backgrounds/background-top-mobile@2x.png"),
      linear-gradient(to bottom, var(--accent-color-background), var(--accent-color-background) 302px, var(--light-background-color) 302px, var(--light-background-color));
  }

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 141px;
    padding-bottom: 53px;
    background-image:
      url("../img/backgrounds/background-top-desktop@1x.png"),
      linear-gradient(to left, var(--accent-color-background), var(--accent-color-background) 50%, var(--light-background-color) 50%, var(--light-background-color));
    background-position: center right, top center;
    background-repeat: no-repeat, no-repeat;
    background-size: 720px 694px, 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/backgrounds/background-top-desktop@2x.png"),
        linear-gradient(to left, var(--accent-color-background), var(--accent-color-background) 50%, var(--light-background-color) 50%, var(--light-background-color));
    }
  }
}

.top-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-auto-flow: column;
    align-items: unset;
  }

  @media (min-width: $desktop-width) {
    grid-auto-columns: min-content 1fr;
    grid-template-rows: min-content min-content 1fr;
  }
}

.top-section__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  color: var(--contrast-light-text-color);
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    margin-left: 87px;
    width: 460px;
    font-size: 60px;
    color: var(--contrast-dark-text-color);
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 82px;
    margin-left: 80px;
  }
}

.top-section__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  color: var(--contrast-light-text-color);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 87px;
    margin-bottom: 21px;
    font-size: 20px;
    color: var(--contrast-dark-text-color);
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}

.top-section__picture {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    z-index: 1;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / span 3;
    grid-column: 2 / span 1;
    margin-left: -92px;
    justify-self: flex-start;
    z-index: unset;
  }
}

.top-section__image {
  display: block;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 608px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.top-section__button {
  align-self: stretch;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    align-self: flex-start;
    justify-self: start;
    z-index: 2;
    min-height: 54px;
    margin-top: 28px;
    margin-left: 82px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    z-index: unset;
    margin-top: 30px;
    margin-left: 80px;
  }
}
